{{>header}}
{{>navbar}}
<div class="container ">
    <div class="my-4 text-center">
        <h3>Edit Transaction #Number</h3>
    </div>
    <form method="post">
        <div class="my-3">
            <div> Selet Transaction Type : </div>
            <input type="radio" name="type" id="add" value='add'{{#if add}} checked{{/if}}>
            <label for='add'>add</label>
            <input type="radio" name="type" id="withDraw" value='withDraw' {{#if withdraw}} checked{{/if}}>
            <label for='withDraw'>withDraw</label>
        </div>
        <div class="my-3 ">
            <label>Enater the value : </label>
            <input type="number" name="value" class='form-control w-50 {{#if errors.trns}}border-danger{{/if}}' value='{{transaction}}'>
            {{#if errors.trns}}
            <p class="text-danger ms-3">
                {{errors.trns.err}}
            </p>
            {{/if }}
        </div>
        <div class="my-3">
            <input class='btn btn-outline-dark' type="submit" value="Edit transaction">
        </div>
    </form>
</div>
{{>footer}}